<body>
<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th><h1>Title</h1></th>
      <th><h1>Body</h1></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <h2><td><%= post.title %>&nbsp;&nbsp;&nbsp;</td></h2> 
        <h2><td><%= post.body %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'Show', post %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'Edit', edit_post_path(post) %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;&nbsp;</td></h2>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
<br>

<%= link_to 'New Post', new_post_path %>
